*{
    box-sizing: border-box;
    margin: 0 auto;
}
#bai1{
    width: 1500px;
    height: 860px;
    border: 1px solid red;
    background-color: #ffff;
} 
#header{
    width: 100%;
    height: 60px;
    border-bottom:1px solid red ;
    text-align: center;
    color: brown;
    text-shadow: 10px 10px  rgba(165, 42, 42, 0.245);
    padding: 1px;
    
    
}
#nav{
    width: 100%;
    height: 40px;
    border-bottom:1px solid red ;
    background-color: #b9190762;
    padding-left: 500px;
    padding-top: 10px;
    

}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 13px;
    margin: 20px;

 

}
#section1{
    width: 20%;
    height: 700px;
    border-bottom:1px solid black;
    float: left;
}
#b1>ul li{
     width: 195px;
     
     list-style: none;
    
    color: white;
     background-color: #b9190762;
     text-align: center;
   
     
    
}
#section22{
   
    text-shadow: 50px 50px  rgba(165, 42, 42, 0.245);
    
}

#section2{
    width: 55%;
    height: 700px;
    border-bottom:1px solid red;
    float: left;
    padding-top: 5px;
}
#p1 tr td{
    width: 500px;
    color:#b91907;
    background-color: #b9190762;
    letter-spacing: 5px;
    
}
#p2 tr td{
    width: 500px;
    color:#b91907;
    background-color: #b9190762;
    letter-spacing: 5px;
}
#p3 tr td{
    width: 500px;
    color:#b91907;
    background-color: #b9190762;
    letter-spacing: 4px;
}
#p4 tr td{
    padding-top: 10px;
    padding-left: 5px;
}
#aside{
    width: 25%;
    height: 700px;
    border-bottom:10px solid red; 
    padding-top:5px;
    float: left;
   
}
#aside1{
    width: 100%;
    height: 95%;
    border: 1px solid black ;
    padding-left: 5px;
    color: #ffff;
    background-color: black;
}
details {

display: inline;
}
summary {
display: block;
}
#footer{
    width: 100%;
    height: 60px;
    clear: both;
    background-color: #b9190758;
    color: #ffff;
    text-align: center;
    padding: 10px;

}

